name: "Code Analysis"

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ format('{0}-{1}', github.workflow, github.head_ref) }}
  cancel-in-progress: true

env:
  GO: "1.18.0-beta2"

jobs:
  CodeQL:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: go

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  UnitTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          stable: false
          go-version: ${{ env.GO }}
      - name: gofmt
        run: diff -u <(echo -n) <(gofmt -l . )
      - name: go vet
        run: go vet ./...
      - name: fieldalignment
        run: go vet -vettool=$(which fieldalignment) ./...
      - name: Run Unit Tests
        run: go test -race -cover -coverprofile=coverage.out -covermode=atomic ./...
      - name: Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          file: ./coverage.out

  GolangCI-Lint:
    if: "false"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          stable: false
          go-version: ${{ env.GO }}
      - name: Run GolangCi-Lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: latest
          skip-build-cache: true
