name: "New Release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Tag name in semver format. Example: v0.0.1"
        required: true
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

env:
  GO: "1.18beta1"

jobs:
  bump-version:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create Tag
        run: |
          docker run --rm -v $PWD:/mount -w /mount svtools/bumptag:latest ${{ github.event.inputs.version }}

      - name: Push Tag
        run: git push origin --tags

  release-lib:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --config .github/goreleaser-lib.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
